<header>
  <app-nav-bar></app-nav-bar>
  <h1 class="text-center my-5">App Gestión Tickets</h1>
</header>
<section class="container">
  @if(ticketData){
  <div class="card p-2 shadow">
    <h2 [class]="ticketData.status" class="p-2 rounded">{{ticketData.title}}</h2>
    <p>{{ticketData.description}}</p>
    <p>Estado: <strong>{{ticketData.status}}</strong></p>

    <div class="buttons d-flex gap-3 my-4">
      <button class="btn btn-info" [routerLink]="['/tickets/edit', ticketId]">Editar</button>
      <button class="btn btn-danger" (click)="onEliminar()">Eliminar</button>
    </div>
  </div>

  }@else {

  <p>No existe un ticket con ese ID</p>

  }

  <!-- open, in-progress, resolved, closed -->
</section>
