article {
  width: 300px;
  min-height: 390px;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

h3 {
  border-bottom: 3px solid gray;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}
