@if(ticket){
<article class="position-relative">
  <div class="p-4">
    <h3 [routerLink]="['/tickets', ticket.id]">{{ ticket.title }}</h3>
    <p>{{ ticket.description }}</p>

    <ul>
      <li>Creado por: <strong>{{ ticket.created_by }}</strong></li>

      @if(ticket.assigned_to){
      <li>Asignado a: <strong>{{ ticket.assigned_to }}</strong></li>
      }@else{
      <li class="text-danger">Sin Asignar</li>
      }
      <hr>
      <li>Estado: {{ ticket.status }}</li>
      <li>Prioridad: {{ ticket.priority }}</li>
    </ul>
  </div>
  <button class="btn btn-danger position-absolute bottom-0 w-100" (click)="onClick()">Eliminar</button>
</article>
}
