.chat {
  min-width: 450px;
}

.chat ul {
  max-height: 100px;
}

.chat ul li {
  margin-bottom: 10px;
}

.pregunta {
  text-align: center;
  font-size: 12px;
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
  max-width: 50%;
}

.respuesta {
  text-align: center;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  background-color: tomato;
  color: white;
  max-width: 50%;
  margin-left: auto;
}
