<header class="bg-secondary border-5 border-bottom border-danger p-5 shadow">
  <h1 class="text-center text-white">Bienvenido a tu aplicacion de gestion tickets</h1>
</header>
<section class="container w-50">
  <form [formGroup]="loginForm" (ngSubmit)="getDataLogin()">
    <div class="my-3">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control shadow" id="email" placeholder="introduce el email"
        formControlName="email">
    </div>
    <div class="my-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control shadow" id="password" placeholder="introduce el email"
        formControlName="password">
    </div>
    <div class="my-3">
      <button class="btn btn-danger">Login</button>
    </div>
    <p class="text-center">Si no tienes usuario registrar <a class="text-secondary"
        [routerLink]="['/register']">aquí</a>
    </p>
  </form>
</section>
