.ng-touched.ng-valid {
    border-color: green;
}

.ng-touched.ng-invalid {
    border-color: tomato;
}

.error {
    color: tomato;
    font-size: .8rem;
}

/* 
    ng-untouched    ng-touched
    ng-pristine     ng-dirty
    ng-invalid      ng-valid
*/